<%- include('./layout.ejs'); %>

<div id="container">
    <h1><%- title %></h1>
    <p>Welcome to <em>Clubhouse</em>, a very basic Express website developed as a tutorial example on the Mozilla Developer Network.</p>

    <h1>Dynamic content</h1>

    <p>The Clubhouse has the following record counts:</p>

    <ul>
        <li><strong>Messages:</strong> <%= message_count %></li>
    </ul>
</div>
